<%- include('../partials/header') %>

<h1 style="text-align: center;background-color: skyblue;padding: 10px"><%= title %></h1>

<% if (aquarium.fishList.length) { %>
  <% aquarium.fishList.forEach(function(fish, idx) { %>
    <article>
      <div class="d-flex justify-content-center">
        <h5><%= fish.name %> </h5>
      </div>
      <div class="d-flex justify-content-center">
        <img src="<%= fish.image %>" alt="Fish Image" style="width:150px">
      </div>
      <form action="/aquarium/<%= idx %>?_method=PUT" method="POST" style="text-align: right;">
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-sm btn-outline-danger m-2" >Remove</button>
        </div>
      </form>
      <hr>
    </article>
  <% }) %>
  <% if (isCompatible) { %>
    <br>
    <h3 style="text-align: center;color: plum">Minimum Tank Size: <%= minGal %> Gallons</h3>
    <br>
    <br>
    <h2 style="text-align: center;color: skyblue">Your tank is COMPATIBLE, have fun with your Friendly Fish!!!</h2>
  <% } else { %>
    <h2 style="text-align: center;color: skyblue">Your tank is NOT compatible, please look through your selections</h2>
  <% } %>      
<% } else { %>
  <h2 style="text-align: center;color: skyblue">There are no Fish in your Aquarium Yet!</h2>
<% } %>



<%- include('../partials/footer') %>