<%- include('../partials/header') %>

<section id="show-page">
  <div id="fish-info" style="font-size: large;color: skyblue"><%= fish.name %></div>
  <img id="fish-info" class="fish-image" src="<%= fish.image %>" alt="Image of <%= fish.name %>">
  <div id="fish-info"><u style="color: skyblue">Description:</u> <%= fish.description %></div>
  <div id="fish-info"><u style="color: skyblue">Gallons per Fish:</u> <%= fish.galPerFish %></div>
  <div id="fish-info"><u style="color: skyblue">Tank:</u> <%= fish.category.toUpperCase() %></div>
  <div id="fish-info"><u style="color: skyblue">Comptabile Fish</u></div>
  <ul>
    <% if (fish.compatible.length) { %>
      <% fish.compatible.forEach(function(f, idx) { %>
        <li style="color: pink;display: flex;justify-content: space-between;">
          <p style="color: lightcoral;font-size: small;"><%= f.name %></p>
          <form action="/fish/<%= fish._id %>/<%= idx %>?_method=PUT" method="POST" style="text-align: right;">
            <input type="image" src="/images/delete.png" class="delete-icon">
          </form>
        </li>
      <% }) %>
    <% } else { %>
      <p style="color: lightcoral;"">None</p>
    <% } %>
  </ul>
  <form id="add-to-compatible" action="/fish/<%= fish._id %>/allFish?_method=PUT" method="POST">
    <select name="fishId">
      <%- allFish.map(f => 
        `<option value="${f._id}">${f.name}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add to List of Compatible Fish</button>
  </form>


  <hr>
  <hr>

  <div id="fish-sites"><u style="color: skyblue">Buy <%= title %> Here!</u></div>
  <br>
  <ul>
    <% if (fish.sites.length) { %>
      <% fish.sites.forEach(function(site, siteIdx) { %>
        <li style="color: pink;display: flex;justify-content: space-between;">
          <a href="<%= site.link %>"><%= site.name %></a>
          <form action="/fish/<%= fish._id %>/sites/<%= siteIdx %>?_method=PUT" method="POST" style="text-align: right;">
            <input type="image" src="/images/delete.png" class="delete-icon">
          </form>
        </li>
      <% }) %>
    <% } else { %>
      <p style="color: lightcoral;">No Stores Info Yet</p>
    <% } %>
  </ul>

  <form id="add-to-sites" action="/fish/<%= fish._id %>/sites?_method=PUT" method="POST">
    <input type="text" name="siteName" placeholder="Name Here" size="10">
    <input type="text" name="siteLink" placeholder="Link Here" size="15">
    <button type="submit">Add to List of Stores</button>
  </form>

  <hr>
  <hr>


  <form id="add-to-tank" action="/aquarium/fish/<%= fish._id %>?_method=PUT" method="POST">
    <label>Quantity:</label>&nbsp;&nbsp;
    <input placeholder="QTY" name="quantity" type="number" min="1" value=1><br>&nbsp;&nbsp;
    <button type="submit">Add <%= fish.name %> to my Aquarium</button>
  </form>
  <br>

  <hr>
  <hr>

  <div id="user-added">
    <p>User Added:</p>&nbsp;&nbsp;
    <img src="<%= fish.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">&nbsp;
    <p><%= fish.userName %></p>
  </div><br>
  <a href="/fish/<%= fish._id %>/edit" style="margin-bottom: 5px;">Edit Fish Details</a>
  <!-- <form action="/fish/<%= fish._id %>/delete" method="GET">
    <button type="submit">Delete this Fish</button>
  </form> -->
  <a href="/fish/<%= fish._id %>/delete">Delete this Fish</a>
  
</section>

<%- include('../partials/footer') %>