<%- include('../partials/header') %>

<section id="show-page">
  <div>Name: <%= fish.name %></div>
  <img class="fish-image" src="<%= fish.image %>" alt="Image of <%= fish.name %>">
  <div>Description: <%= fish.description %></div>
  <div>Gallons per Fish: <%= fish.galPerFish %></div>
  <div>Tank: <%= fish.category %></div>
  <div>Comptabile Fish:</div>
  <ul>
    <% if (fish.compatible.length) { %>
      <%- fish.compatible.map(f => 
        `<li>${f.name}</li>`
      ) %>
    <% } else { %>
      <h5>No Compatibility Info Yet</h5>
    <% } %>
  </ul>
  <form id="add-per-to-compatible" action="/fish/<%= fish._id %>/allFish" method="POST">
    <select name="fishId">
      <%- allFish.map(f => 
        `<option value="${f._id}">${f.name}</option>`
      ).join('') %>
    </select>
    <button type="submit">Add to Compatible</button>
  </form>
  <form id="add-to-tank" action="/aquarium/fish/<%= fish._id %>?_method=PUT" method="POST">
    <label>Quantity:</label>&nbsp;&nbsp;
    <input placeholder="QTY" name="quantity" type="number" min="1"><br>&nbsp;&nbsp;
    <button type="submit">Add <%= fish.name %> to my Aquarium</button>
  </form>
  <br>

  <div id="user-added">
    <p>User Added:</p>&nbsp;&nbsp;
    <img src="<%= fish.userAvatar %>" alt="avatar" referrerpolicy="no-referrer">&nbsp;
    <p><%= fish.userName %></p>
  </div><br>
  <a href="/fish/<%= fish._id %>/edit">Edit Fish Details</a>
  <form action="/fish/<%= fish._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete this Fish</button>
  </form>
  
</section>

<%- include('../partials/footer') %>